.history__title-position {
  display: flex;
  justify-content: center;
  align-items: center;
}

body {
  background-color: $white;
  font-family: Avenir-book;
  font-size: 18px;
  color: $text;
  margin: 0;
}

.flex {
  display: flex;
}

.flex-around {
  justify-content: space-around;
  align-items: center;
}

.flex-center {
  justify-content: center;
}

h1,
h2,
h3,
h4 {
  font-family: Avenir-heavy;
  text-align: center;
}
h1 {
  font-size: $size-xxlarge;
  font-family: Avenir-heavy;
  margin: 0;
}
h2 {
  font-size: $size-xlarge;
  font-family: Avenir-medium;
}
h3 {
  font-size: $size-xlarge;
}

a {
  text-decoration: none;
  color: $text;
  font-family: Avenir-heavy;

  &:visited {
    color: $black;
  }
  &:hover {
    color: $black;
  }
}

.medium {
  font-family: Avenir-medium;
}
.heavy {
  font-family: Avenir-heavy;
}
.light {
  font-family: Avenir-light;
}
.regular {
  font-family: Avenir-regular;
}
.black {
  font-family: Avenir-black;
}
.book {
  font-family: Avenir-book;
}

.container {
  max-width: 900px;
  margin: auto;
}

.card {
  border-radius: $radius;
  padding: $space-medium;
  margin-bottom: $space-medium;
  background-color: $secondary;
  box-shadow: $shadow;
}

ul {
  list-style: none;
  padding-left: 0;
  margin-left: 0;
}

.button {
  color: #fff;
  text-align: center;
  letter-spacing: 1.2px;
  text-transform: uppercase;
  background-color: $tertiary;
  border: 2px solid $black;
  border-radius: 15px;
  justify-content: center;
  align-items: center;
  padding: 10px 20px;
  font-size: 16px;
  font-weight: 700;
  line-height: 20px;
  transition: all 0.2s;
  box-shadow: 3px 3px #2e2f35;
  cursor: pointer;

  &:hover {
    transform: translate(4px, 4px);
    box-shadow: 0 0 #2e2f35;
  }

  &:visited {
    color: $white;
  }

  &:disabled {
    background-color: $grey-light;
    cursor: not-allowed;
  }
}

input {
  // width: 100%;
  background-repeat: no-repeat;
  background-position: 8px center;
  display: flex;
  -webkit-box-align: center;
  align-items: center;
  text-align: left;
  border: 1px solid $border-grey;
  border-radius: $radius-button;
  padding: 8px 8px 8px 8px;
  font-family: Avenir-Book;
  overflow: hidden;
  color: $grey-light;

  &::placeholder {
    font-size: 18px;
  }

  &[value] {
    font-size: 18px;
    font-family: Avenir-Book;
    color: $grey-light;
  }
}

.chart {
  width: 800px;
}

.toggle-switch {
  display: flex;
  justify-content: center;
  padding: 8px;

  & > span {
    &:first-child {
      margin-right: $space-little;
    }

    &:last-child {
      margin-left: $space-little;
    }

    &.selected {
      font-family: Avenir-heavy;
    }
  }

  .switch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;
  }

  .switch input {
    opacity: 0;
    width: 0;
    height: 0;
  }

  .slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: 0.4s;
    transition: 0.4s;
  }

  .slider:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    -webkit-transition: 0.4s;
    transition: 0.4s;
  }

  input:checked + .slider {
    background-color: $tertiary;
  }

  input:focus + .slider {
    box-shadow: 0 0 1px $tertiary;
  }

  input:checked + .slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
  }

  /* Rounded sliders */
  .slider.round {
    border-radius: 34px;
  }

  .slider.round:before {
    border-radius: 50%;
  }
}

input[type="datetime-local"] {
  width: 5rem;
  margin-right: $space-xlittle;
}

.error {
  color: red;
}
.warning {
  color: orange;
}
.success {
  color: green;
}
