header {
  background-color: $tertiary;
  padding: 1rem;
  margin-bottom: $space-medium;
  box-shadow: $shadow;
}

.navbarList {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

.firstNav {
  float: left;
  padding: 14px 16px;
}
.secondNav {
  float: left;
  padding: 14px 16px;
}
.thirdNav {
  float: right;
  padding: 14px 16px;
  font-family: Avenir-heavy;
  cursor: pointer;
}
.fourNav {
  float: right;
  padding: 14px 16px;
}
.active {
  a {
    color: $bg-color;
  }
}
