header {
  background-color: $tertiary;
  width: 100%;
  padding: 1rem;
  margin-bottom: $space-medium;
  box-shadow: $shadow;
}

.navbarList {
  display: flex;

  align-items: center;

  li {
    margin-right: $space-medium;
    position: relative;
    a,
    button {
      text-transform: uppercase;

      &::after {
        content: "";
        position: absolute;
        width: 100%;
        transform: scaleX(0);
        height: 2px;
        bottom: 0;
        left: 0;
        background-color: $bg-color;
        transform-origin: bottom right;
        transition: transform 0.25s ease-out;
      }
    }

    &.active {
      a,
      button {
        color: $bg-color;

        &:hover,
        &::after {
          transform: scaleX(1);
          transform-origin: bottom left;
        }
      }
    }
  }
}

.logoutButton {
  color: #38383f;
  background-color: transparent;
  border: none;
  font-family: Avenir-heavy;
  font-size: 18px;
  font-weight: 900;
}
.logoutButton:hover {
  cursor: pointer;
}
