.customSelect {
  width: 150px;
  height: 48px;
  border: 1px solid #d8dae8;
  color: #555;
  font-size: 18px;
  padding: 8px;
  border-radius: 5px;
  background-color: #fff;
}
.customSelect:hover {
  cursor: pointer;
}
.customInput:hover {
  cursor: pointer;
}
// .card {
//   padding: 20px;
//   background-color: $secondary;
//   margin: 0 0 20px 0;
//   box-shadow: 0 5px 2px -2px rgba(0, 0, 0, 0.2);
//   border-radius: 10px;
// }

.pagination {
  margin-top: $space-little;
  text-align: center;

  .paginationButton {
    background-color: #fff;
    border-radius: 5px;
    color: #555;
    border: 1px solid #d8dae8;
    cursor: pointer;
    font-size: 16px;
    margin-left: 0.5rem;
    &:disabled {
      background-color: rgb(149, 157, 175, 0.5);
      color: #fff;
      cursor: not-allowed;
    }
  }

  .paginationText {
    color: #555;
    font-size: 16px;
    margin: 0 10px;
    cursor: pointer;

    &:disabled {
      background-color: rgb(149, 157, 175, 0.5);
      color: #fff;
      cursor: not-allowed;
    }
  }
}
