.url-list {
  .url-list-form {
    margin: $space-medium;
    align-items: center;
    justify-content: center;

    span {
      margin-right: $space-medium;
    }

    input {
      width: 200px;
    }
  }
}
.items-list {
  margin-top: $space-large;
}
.header,
.row {
  width: 100%;
  justify-content: space-between;
  align-items: center;

  & > div {
    flex-basis: 30%;
    text-align: center;
  }
}

.header {
  margin-bottom: $space-xxlittle;
  position: relative;

  // &::after {
  //   content: "";
  //   background-color: #38383f;
  //   width: 99%;
  //   height: 2px;
  //   position: absolute;
  //   top: 38px;
  //   right: 4px;
  //   border-radius: 3;
  // }
}

.row {
  // border-radius: $radius;
  // background-color: $tertiary-lighter;
  // margin-bottom: $space-xxlittle;
  padding: $space-xxlittle 0;
  cursor: pointer;
  font-size: 16px;
  border-bottom: 1px solid $black;

  &:last-child {
    border-bottom: none;
  }

  &:hover {
    transform: scale(
      1.015
    ); /* (150% zoom - Note: if the zoom is too large, it will go outside of the viewport) */
  }

  // &:nth-child(odd) {
  //   background-color: $tertiary-lighter;
  // }
}
