// color
// $primary: rgb(245, 235, 224);
// $secondary: rgb(240, 219, 219);
// $tertiary: rgb(219, 163, 154);

$primary: #e0f8f2;
$secondary: #fdf3ea;
$tertiary: #ff6d2c;

$primary-light: rgb(245, 235, 224, 0.7);
$primary-lighter: rgb(245, 235, 224, 0.4);
$secondary-lighter: rgb(240, 219, 219, 0.5);
$tertiary-lighter: rgb(219, 163, 154, 0.5);

$bg-color: rgb(254, 252, 243);

$black: #2e2f35;
$text: $black;
$white: #fff;

$border-grey: rgb(216, 218, 232);
$grey-light: rgb(149, 157, 175);

// Radius
$radius: 10px;
$radius-button: 5px;

// space
$space-xxlittle: 0.3rem;
$space-xlittle: 0.6rem;
$space-little: 1rem;
$space-medium: 2rem;
$space-large: 3rem;
$space-xlarge: 6rem;

$size-little: 14px;
$size-normal: 16px;
$size-large: 20px;
$size-xlarge: 24px;
$size-xxlarge: 28px;

$shadow: 0 5px 2px -2px rgb(0 0 0 / 20%);

// font
@font-face {
  font-family: Avenir-book;
  src: url("./fonts/Avenir\ Book.ttf");
}
@font-face {
  font-family: Avenir-heavy;
  src: url("./fonts/Avenir\ Heavy.ttf");
}
@font-face {
  font-family: Avenir-medium;
  src: url("./fonts/Avenir\ Medium.ttf");
}
@font-face {
  font-family: Avenir-regular;
  src: url("./fonts/Avenir\ Regular.ttf");
}
@font-face {
  font-family: Avenir-light;
  src: url("./fonts/Avenir\ Light.ttf");
}
@font-face {
  font-family: Avenir-black;
  src: url("./fonts/Avenir\ Black.ttf");
}
