// color
$red: #e10600;

// text
$text: black;

// background
$bg-grey-light: rgb(244, 246, 248);

// border
$border-red: rgba(225, 6, 0, 0.6);

// Radius
$radius: 15px;

// font
@font-face {
  font-family: Avenir-book;
  src: url("./fonts/Avenir\ Book.ttf");
}
